.cards {
  background: blue;
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}
.card1 {
  width: 300px;
  border-radius: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  border: 3px solid black;
  
}
img {
  width: 100%;
  border-radius: 20px;
}
