<<<<<<< HEAD
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
header{
    box-shadow: 0px 1px 4px 0px #00000040 
}
.container{
    width: 1125px;
    margin: 0 auto;
    padding: 0 20 px;
    border: 4 px rgba(4, 47, 73, 0.908);
}
nav{
display: flex;
align-items: center;
justify-content: space-between;
padding: 18px 0 ;
}
ul{
    display: flex;
    align-items: center;
    gap: 50px;
}
a{
    color: #1F2E35CC;;
    font-weight: 400 px;
    font-size: 18 px;
    line-height: 100%;
    &:hover{
        color: rgb(213, 10, 10);
}
}
.icons{
    display: flex;
   align-items: center;
   gap: 15px; 
}




.cards {
  background: blue;
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}
.card1 {
  width: 300px;
  border-radius: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  &:hover {
    width: 400px;
  }
}
img {
  width: 100%;
  border-radius: 20px;
  &:hover {
    width: 250px;
    height: 250px;
    border-radius: 100%;
    margin: 0 auto;
  }
}
button {
  padding: 12px;
  width: 100%;
  border: none;
  border-radius: 12px;
  &:hover {
    background: black;
    color: white;
  }
}
.hero{
    padding: 51px 0;
}
.hero-info{
    display: flex;
    align-items: ;
}